Source: neovim
Section: editors
Priority: optional
Maintainer: Chad Phillips <chad@apartmentlines.com>
Build-Depends:
 autoconf,
 automake,
 cmake (>= 3.10),
 curl,
 debhelper-compat (= 13),
 doxygen,
 g++ (>= 4.4),
 gettext,
 libtool,
 libtool-bin,
 ninja-build,
 pkgconf,
 unzip,
Standards-Version: 4.6.2
Homepage: https://neovim.io/
Rules-Requires-Root: no
Vcs-Git: https://github.com/apartmentlines/neovim-debian.git
Vcs-Browser: https://github.com/apartmentlines/neovim-debian

Package: neovim
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Recommends: xclip | xsel, xxd
Suggests: ctags, vim-scripts
Provides: editor
Description: heavily refactored vim fork
 Neovim is a fork of Vim focused on modern code and features, rather than
 running in legacy environments.
 .
 msgpack API enables structured communication to/from any programming language.
 Remote plugins run as co-processes that communicate with Neovim safely and
 asynchronously.
 .
 GUIs (or TUIs) can easily embed Neovim or communicate via TCP sockets using
 the discoverable msgpack API.
